<div class="container">
  <div class="ghostly-container text-center">
     <h1> <%= @questions.description %> </h1>
    <br />

    
      <%= simple_form_for @questions do |f| %>
        <%= f.input :bad_answer_one, label: '', placeholder: '' %>
        <%= f.button :submit %>
      <% end %>

  </div>

</div>