<div class="container">
  <div class="ghostly-container text-center">
     <h1> <%= @questions.description %> </h1>
    <br />
<%= simple_form_for @user do |f| %>
      <%= f.input :selected_answer, label: 'Correct Answer', placeholder: 'required' %>
      <br /> 
      <%= f.submit 'Create', class: 'btn btn-danger' %>
    <% end %>
    

  </div>

</div>