<div class="container">
  <div class="ghostly-container text-center">
    <% @question.each do |quest| %>
      <%= quest.description %>
      <%= quest.answer %>
      <%= quest.bad_answer_one %>
      <%= quest.bad_answer_two %>
    <% end %>
  </div>
</div>